<p id="notice"><%= notice %></p>
<div class="container">
		<div class= "col-xs-4 col-sm-4">
			<div class="well">
				<p class="funcionario">
				  <b>Nombre:</b>
				  <%= @departamento.nombre %>
				</p>

				<p class="funcionario">
				  <b>Interno:</b>
				  <%= @departamento.interno %>
				</p>

				<%= link_to 'Back', root_path %>
			</div>
		</div>
</div>
