<div class="container">
	<div class="row">
	<h1>Internos</h1>
		<span id="ir-arriba" class="hidden">
			<a href="#top" class="btn btn-circle btn-lg btn-primary"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
				<i class="glyphicon glyphicon-chevron-up"></i>
			</a>
		</span>
		<%= render 'home/listar' %>
	</div>
</div>
<%= render 'layouts/footer' %>