<div class="container">
<h1>Editing funcionario</h1>
	<div class= "col-xs-4 col-sm-4">
		<div class="well ">
			<%= render 'form' %>
		</div>
	</div>
</div>
<%= link_to 'Show', @funcionario %> |
<%= link_to 'Back', funcionarios_path %>
